body {
  padding-top: 5%;
  background-color: rgb(231, 184, 63);
  font-family: 'Nanum Pen Script', cursive;
}

h1 {
  font-size: 72px;
  margin-bottom: 5%;
}

input {
  border: solid 2px black !important;
  margin-bottom: 2%;
}

input[type="text"]{
  font-size: 24px;
}

input::placeholder {
  font-size: 24px;
  text-align: left;
}

.list-group-item {
  font-size: 32px;
  text-align: left;
  margin-top: 1%;
}

div form button {
font-size: 40px !important;
}

div button {
  font-size: 25px !important;
}